*{
    margin: 0px;
    
}
body{
   background-color: #FAF9F6;
}
header{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto 0;

}
#displayed-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 80vw;
    font-size: 4vw;
    padding: 20px 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    border-radius: 20px;
    border-color: gray;
}

.sidebar-opened{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 25vw;
    border: 2px solid black;
    height: 100vh;
    background-color:#343a40;
    color: #ffffff;
    margin: 1%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    
    
}
.hidden{
    display: none;
}
.sidebar-hidden{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    background-color: white;
    transform: translateX(-100%); /* Slide out to the left */
    transition: transform 0.3s ease;
}
.menu-button img{
    width: 100%;
    
    
}
.menu-button{
    position: fixed;
    top: 0;
    left: 0;
    width: 6vw;
   margin: 5px;
}
#nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    font-size: 2rem;

}
#Dashboard-arrow{
    width: 25px;
}


#Dashboard-logo  {
width: 40px;
}
ul {
    list-style-type: none;
    
}


.Outter-options{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 10%;
    padding: 5px;
    
   
}
.Outter-options a {
    text-decoration: none;
    color: #f8f9faff;
    cursor: pointer;
    
}
.Outter-options a:hover {
    background-color: #495057;
    color: #007bff;
    border-radius: 5px;
}
.Inner-options{
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

/* ==================Course List========================== */
.Course-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
}
.Course-list ul,.Student-list-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 1.75vw;
    background-color: #f0f8ff;
    padding:15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);

}


.Course-box ,.Student-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.Course-box div,.Student-box div{
    width: 100%;
}
.Course-box span,.Student-box span{
    display: block;
    margin: 0 5px;
    width: 16.6%;
}
.Course-box-first,.std-list-first{
    display: flex;
    
}



.Course-box:hover ,.Student-box:hover {
    background-color: #f1f1f1;
}
.Delete-btn,.more-btn,.savebtn,#add-course-btn,#add-student-btn,#start-now,.remove-student-fromcourse{
    display: block;
    color: white;
    padding: 2px 10px;
    background-color: #2196F3;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    width: 10vw;
    height: 3vw;
    transition: background-color 0.3s ease;
    float: right;
    margin: 0 2px;
    
}
#start-now{
    width: 20vw;
}
.Delete-btn:hover,.more-btn:hover,.savebtn:hover,#add-student-btn:hover
,#add-course-btn:hover,#start-now:hover,.remove-student-fromcourse:hover
,.all-std-btn:hover,.Passed-std-btn:hover,.Failed-std-btn:hover,.add-student-course:hover{
    background-color: #d32f2f;
}

.Edit-course{
    margin-top: 30px;
    
}
.Edit-course select{
    border: 1px solid #ddd;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 5px 10px;
    
}
.listedStd div ,.std-more-box div{
    display: flex;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} 
.all-std-btn,.Passed-std-btn,.Failed-std-btn,.add-student-course{
    background-color:#2196F3 ;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.5vw;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#nocourses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
#nocourses button{
    color: white;
    padding: 5px 10px;
    background-color: #2196F3;
    border-radius: 3px;
    border: none;
    width: 15vw;
    height: 7vh;
    transition: background-color 0.3s ease;
}
#nocourses button:hover{
    background-color: #d32f2f;
}
/* =============================AddPages======================= */
#displayed-part{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.course-add-box,.student-add-box{
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 70vw;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    padding: 20px;
   
}
.course-add-box >div,.student-add-box>div{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.course-add-box label,.student-add-box label{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 5px;}

#add-course-btn,#add-student-btn{
margin: 5px;
padding: 0 40px;
width: 16%;

}
.course-add-box input,.student-add-box input,#course-pointscale{
    margin:0 5px 5px 5px;
    padding: 5px 0;
    width: 10vw;
}
.toastbox{
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
    margin: 5px;
    background-color: #2196F3;
}
/* =================Search Student======= */

.student-search-box {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    justify-content: space-between; 
    margin: 20px auto; 
    width: 80vw;
    
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
}


#search-container {
    display: flex;
    flex-direction: column; 
    margin-right: 10px; 
    flex: 1; 
}

.student-search-box label {
    font-size: 2vw;
    margin-bottom: 5px; 
    color: #333; 
}

.student-search-box input {
    padding: 8px;
    font-size: 2vw;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 100%;
    box-sizing: border-box; 
}


.student-search-box button{
    padding: 8px 15px;
    width: 20vw;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    font-size: 1.5vw;
    border-radius: 4px; 
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#search-again{
    width: 40vw;
}


.student-search-box button:hover {
    background-color: #d32f2f;
}